<footer class="footer-container">
  <div class="section contact">
    <img src="https://elasticbeanstalk-us-east-1-148301147089.s3.amazonaws.com/facartalogo.png" alt="">

    <span>
      Facarta.com
    </span>

  </div>
  <div class="section social-network">
    <section>
      <a href="https://www.facebook.com/lasbarbasdelabuel/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/lasbarbas/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send/?phone=573196073229" target="_blank"><i
          class="fa-brands fa-whatsapp"></i></a>
    </section>
  </div>

  <div class="section attribution">
    <p>Copyright © 2023–2024 Facarta.com™. Todos los derechos reservados.</p>
    <p>By: Joan Lemus</p>
  </div>
</footer>