<div class="gallery-market">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
        style="background-image:url(https://elasticbeanstalk-us-east-1-148301147089.s3.amazonaws.com/Logo+bda.png)">
      </div>
      <mat-card-title>LAS BARBAS DEL ABUELO</mat-card-title>
      <mat-card-subtitle>Barberia</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://elasticbeanstalk-us-east-1-148301147089.s3.amazonaws.com/teamLBDA.jpg"
      alt="Photo of a Shiba Inu">

    <mat-card-content>
      <br>
      <p>
        Tu destino para el estilo y la perfeccion. Bienvenido a las Barbas Del Abuelo, nuestro equipo de barberos
        expertos esta listo para brindarte un corte impecable y un servicio excepcional.Reserva tu cita hoy mismo y
        descubre un nuevo nivel de estilo.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="gotoagendar()">AGENDAR</button>
    </mat-card-actions>
  </mat-card>
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"
        style="background-image:url(https://elasticbeanstalk-us-east-1-148301147089.s3.amazonaws.com/arcalogo.jpg)">
      </div>
      <mat-card-title>Arca Studios</mat-card-title>
      <mat-card-subtitle>Barberia</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="https://elasticbeanstalk-us-east-1-148301147089.s3.amazonaws.com/2023-07-10.jpg"
      alt="foto Arca Studio">

    <mat-card-content>
      <br>
      <p>
        Tu destino para el estilo y la perfeccion. Bienvenido a las Barbas Del Abuelo, nuestro equipo de barberos
        expertos esta listo para brindarte un corte impecable y un servicio excepcional.Reserva tu cita hoy mismo y
        descubre un nuevo nivel de estilo.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="gotoagendar()">AGENDAR</button>
    </mat-card-actions>
  </mat-card> -->
</div>