/* Estilos generales */

mat-card {
  display: flex;
  max-width: 700px;/* Ancho máximo del formulario */
  margin: auto; /* Centrar el formulario en la página */
  background-color: #121212;
  border: 1px solid rgba(224, 107, 107, 0.2);
  /* background-color: #000; */
  border-radius: 5px;
}
form {
  width: 100%;
}

/* Estilos para el encabezado del formulario */
mat-card-header {
  color: #fff;
}
.cerrar-ventana {
  max-width: 5px;
  max-height: 5px;
}

mat-icon .boton-cerrar {
  margin-top: 3px;
  height: 40px;
  width: 40px;
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Estilos para las secciones del formulario */
.mat-card-subtitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Estilos para el select del barbero */
.select-barber {
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  flex-direction: row;
}

.select-barber i {
  color: #ffcc00;
}

mat-form-field {
  width: 49%;
  margin-left: 1%;
}

/* Estilos para la imagen del barbero */
mat-icon {
  display: flex;
  justify-content:center;
  margin: 10px;
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Estilos para el datepicker y select de la hora */
section {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

mat-datepicker-toggle {
  cursor: pointer;
}

/* Estilos para la sección de datos del cliente */
section:last-child {
  margin-bottom: 0;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* padding: 1.5em; */
  /* background-color: #ffcc00; */
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
}





/* Estilos para los botones del formulario */
.button-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  gap: 10px; /* Espacio entre los elementos */
  box-sizing: border-box; /* Asegura que el borde no incremente el tamaño total del hijo */
}
mat-card-header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

<<<<<<< HEAD

/* Estilos para la sección de consultar mis citas */

.example-card {
  max-width: 90%;
  margin-bottom: 8px;
}
.appointment-card {
  display: flex;
  align-items:center;
  padding: .5em .5em 0;
}

/* Estilos para la sección alerta no hay citas y cancelar citas */

.alerta {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


/* Estilos para la sección de consultar mis citas */

.example-card {
  max-width: 90%;
  margin-bottom: 8px;
}
.appointment-card {
  display: flex;
  align-items:center;
  padding: .5em .5em 0;
}

=======
>>>>>>> f04bcb4 (funcion editar cita desde modulo cliente)

/* Estilos para la sección de consultar mis citas */

.example-card {
  max-width: 90%;
  margin-bottom: 8px;
}
.appointment-card {
  display: flex;
  align-items:center;
  padding: .5em .5em 0;
}

/* Estilos para la sección alerta no hay citas y cancelar citas */

.alerta {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


/* Estilos específicos para tamaños de pantalla más pequeños */
@media screen and (max-width: 600px) {
  mat-card {
    max-width: 100%; /* Ancho completo en pantallas pequeñas */
  }

  .select-barber {
    flex-direction: column; /* Apila los elementos en pantallas pequeñas */
  }

  mat-icon {
    margin-top: 3px; /* Espaciado superior para la imagen del barbero en pantallas pequeñas */
    height: 90px;
    width: 90px;
  }
  section {
    flex-direction: column; /* Apila las secciones en pantallas pequeñas */
  }

  mat-form-field {
    width: 100%; /* Ancho completo en pantallas pequeñas */
    margin-bottom: 10px; /* Espaciado inferior entre campos */
  }

  .button-form {
    margin-top: 5px;
  }

  .example-card {
    max-width: 98%;
    margin-bottom: 4px;
  }
  mat-card-title{
    font-size: medium;

  }

}
